.bar-header {
  background-color: #565656;
}

ion-side-menu li .item {
  background-color: #d9d9d9;
  border-color: #4F5865;
  color: black;
  
}
  
ion-side-menu li.item {
  border-color: #4F5865;
  }

ion-side-menu li.item.item-divider {
  background-color: #3E4755;
}
  
.ion-ionic {
  color: orange;
}
.ion-home {
  color: blue;
}
.ion-ios-bell {
  color: yellow;
}
.ion-chatbox {
  color: green;
}
.ion-calendar {
  color: white;
}
.ion-folder {
  color: purple;
}
.ion-earth {
  color: maroon;
}
.ion-help-buoy {
  color: orange;
}
.ion-gear-b {
  color:  dimgray;
}
.ion-log-out {
  color: red;
}  

.ion-ionic:before {
  content: "\f3ea";
}  

.mm-site_mm_courses .tabs-icon-left {
  background-color: #EBEFF8;  
}
.mm-site_mm_courses section h2 span {
  font-weight: bold;